/**/autom4te.cache/
/**/autoscan.log
/**/autoscan-/*.log
/**/config.h
/**/config.log
/**/config.status
/**/configure.scan
/**/Makefile
/**/stamp-h1
/**/deps
/**/.deps/

/**/*.o
/**/*.swp
/**/*.old
/**/*~
/**/.version

/sunxi-baremetal/mksunxiboot
/sunxi-baremetal/sunxi-baremetal.8
/sunxi-baremetal/sunxi-boot_head_sun4i.bin
/sunxi-baremetal/sunxi-boot_head_sun4i.elf
/sunxi-baremetal/sunxi-boot_head_sun5i.bin
/sunxi-baremetal/sunxi-boot_head_sun5i.elf
/sunxi-baremetal/sunxi-fel-copy.bin
/sunxi-baremetal/sunxi-fel-copy.elf
/sunxi-baremetal/sunxi-fel-pio.bin
/sunxi-baremetal/sunxi-fel-pio.elf
/sunxi-baremetal/sunxi-fel-pio.nm
/sunxi-baremetal/sunxi-fel-sdboot.bin
/sunxi-baremetal/sunxi-fel-sdboot.elf
/sunxi-baremetal/sunxi-fel-sdboot.sunxi
/sunxi-baremetal/sunxi-jtag-loop-alt.bin
/sunxi-baremetal/sunxi-jtag-loop-alt.elf
/sunxi-baremetal/sunxi-jtag-loop-alt.sunxi
/sunxi-baremetal/sunxi-jtag-loop.bin
/sunxi-baremetal/sunxi-jtag-loop.elf
/sunxi-baremetal/sunxi-jtag-loop.sunxi
/sunxi-bootinfo/sunxi-bootinfo
/sunxi-fel/sunxi-fel
/sunxi-fexc/sunxi-fexc
/sunxi-meminfo/sunxi-meminfo
/sunxi-nand-part/sunxi-nand-part
/sunxi-phoenix_info/sunxi-phoenix_info
/sunxi-pio/sunxi-pio
/sunxi-script_extractor/sunxi-script_extractor
