/**/autom4te.cache/
/**/autoscan.log
/**/autoscan-/*.log
/**/aclocal.m4
/**/compile
/**/config.h
/**/config.h.in
/**/config.h.in~
/**/config.log
/**/config.guess
/**/config.sub
/**/config.status
/**/configure
/**/configure.scan
/**/depcomp
/**/install-sh
/**/missing
/**/Makefile.in
/**/Makefile
/**/stamp-h1
/**/deps
/**/.deps/

/**/*.o
/**/*.swp
/**/*.old
/**/*~
/**/.version
